.idea
.pytest_cache
__pycache__
*.xml
*.ipynb_checkpoints
CMTSOLUTION_*
.DS_Store
*.pdf
*.egg-info
*.pyc
.Trash-128891
.idea
notebooks
.vscode
.DS_Store
._.DS_Store
*session*
*radical*
slurm-*
*.pyc
*.stderr
*.stdout
STDERR
STDOUT
