.idea
.pytest_cache
__pycache__
*.ipynb_checkpoints
.DS_Store
*.pdf
*.egg-info
*.pyc
.Trash-128891
notebooks
.vscode
._.DS_Store
*session*
*radical*
slurm-*
*.stderr
*.stdout
STDERR
STDOUT
CMTSOLUTION_*
*.xmlcore.*
*.xml
core.*
gcmt3d/workflow/slurmwf_dt
CMT.held-out
.mypy_cache
*.txt
entk.yml
