# This will include the Perl FetchData script.
include ./gcmt3d/data/download/resources/FetchData

# This will include the standard station file.
include ./gcmt3d/data/download/resources/stations.txt

# Include bash and sbatch scripts
include ./gcmt3d/runSF3D/batch/drive.sbatch
include ./gcmt3d/runSF3D/batch/drive.sh

# Exclude notebooks
recursive-exclude notebooks *
recursive-exclude data *